################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pay-Tips/.vs/Pay-Tips
/Pay-Tips/Pay-Tips.API/bin/Debug/netcoreapp3.1
/Pay-Tips/Pay-Tips.API/obj
